<div class="red-bar top-bar"></div>
        <div class="bank-header">
            <img width="300px" height="150px" src="mazebankoflossantos.png" alt="">
        </div>
        <div class="bank-app">
        <div class="red-bar middle-bar">
            <div class = "escolha">
                <p>Escolha um serviço!</p>
            </div>
        </div>
        <div class="balance">
            <p>Account balance: <strong>$30,001,357.00</strong></p>
        </div>
        <div class="buttons">
            <button>Depositar</button>
            <button>Sacar</button>
            <button>Extrato</button>
        </div>
    </div>

