body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.bank-app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
}

.red-bar {
    width: 100%;
    height: 40px;
    background-color: #d32f2f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.top-bar {
    width: 100vh;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.middle-bar {
    margin: 20px 0;
    height: 90px;
    width: 100vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.escolha{
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}   
.bank-header{
    font-size: 24px;
    color: #d32f2f;
    margin: 0;
    text-align: center;
}

.balance {
    margin-top: 10px;
    margin-bottom: 20px;
}

.balance p {
    font-size: 24px;
    margin: 0;
}

.buttons {
    margin-top: 30px;
    width: 90%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #d32f2f;
    color: #fff;
    border: none;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, box-shadow 0.3s; 
    width: 100%;
}

button:hover {
    background-color: #b71c1c;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}