<div class = loginPage>
    <div class="quadradoLogin">
    <div class="imgLogo">
        <img width="250px" src="mazebankoflossantos.png" alt="logo1">
    </div>
    <h1>Olá , Victor Grubler</h1>
    <p>Escolha o serviço!</p>
        <div class="userLogin">
             <div class="buttons">
                <button pButton (click)="pix()">Pix!</button>
                <button pButton (click)="extrato()">Extrato!</button>
                <button pButton (click)="sair()">Sair!</button>
                </div>
        </div>
  </div>
</div>
