<div class = loginPage>
    <div class="quadradoLogin">
    <div class="imgLogo">
        <img width="150px" src="Maze_Bank_Logo.png" alt="logo1">
    </div>
        <div class="userLogin">
  
            <form>
             <label for="username">Usuário </label>
             <input type="text" id="username" placeholder="Nome de Usuário">
  
             <label for="password">Senha</label>
             <input type="password" id="username" placeholder="Senha">
             <button class="w-100 btn btn-lg btn-primary mb-2 fw-bold" type="button" (click)="submit()">Acessar conta</button>
         </form>
        </div>
  </div>
</div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  