<div class = loginPage>
    <div class="quadradoLogin">
    <div class="imgLogo">
        <img width="150px" src="Maze_Bank_Logo.png" alt="logo1">
    </div>
        <div class="userLogin">
  
            <form>
             <label for="username">Usuário </label>
             <input type="text" id="username" placeholder="Nome de Usuário">
  
             <label for="password">Senha</label>
             <input type="password" id="username" placeholder="Senha">
             <div class = "buttons">
             <button pButton (click)="logar()">Logar!</button>
             <button pButton (click)="cadastrar()">Cadastre-se!</button>
            </div>
         </form>
        </div>
  </div>
</div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  