*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.inputText {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 15px;
    background-color: #c43131;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 200px;
}


p {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-align: center;
}

.loginPage {
    background-image:url('../../../public/fundopaginas.png');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0;
    font-family: Arial, Helvetica;
    padding: 0px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}   


.quadradoLogin{
    width: 400px;
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    flex-direction: column;
}

.imgLogo{
    width: 350px;
    height: 450px;
    text-align: center;
    margin-top: 100px;
}




