<div class = loginPage>
    <div class="quadradoLogin">
    <div class="imgLogo">
        <img width="250px" src="mazebankoflossantos.png" alt="logo1">
    </div>
    <p>Area PIX!</p>
        <div class="userLogin">
  
            

             <div class="userLogin">
                <input type="text" placeholder="Chave Pix">
                <input type="text" placeholder="Valor">
                <input type="text" placeholder="Descrição">
                <div class = "buttons">

                <button pButton (click)="submitPix()">Fazer PIX!</button>
                <button pButton (click)="voltarInicial()">Voltar</button>

                </div>
                </div>
         
        </div>
  </div>
</div>

        

 