*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

p {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 40px;
    text-align: center;
}

.loginPage {
    background-image:url('../../../public/fundopaginas.png');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0;
    font-family: Arial, Helvetica;
    padding: 0px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}   


.quadradoLogin{
    width: 400px;
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    flex-direction: column;
}

.imgLogo{
    width: 350px;
    height: 450px;
    text-align: center;
    margin-top: 20px;
}

.userLogin label{
    align-self:flex-start;
    font-weight: bold;
    font-size: 18px;
    
}
.userLogin input {
    margin: 5px;
    width: 100%;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

button {
    padding: 15px;
    background-color: #c43131;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 30vh;
    align-content: center;
    justify-content: center;
}

.buttons{
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}